:root {
    font-family: "Comic Relief", system-ui;

}

.head {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 500;
}

body {
    background: linear-gradient(160deg, rgb(108, 124, 204) 10%, rgb(119, 138, 230) 50%, rgb(237, 128, 150) 100%);
    background-attachment: fixed;
    background-size: cover;
}

.calendar-wrapper {
    position: relative;
    height: 98vh;
}

.month-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #bfcfff;
    z-index: 10;
    padding: 20px 0 20px 20px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 96%;
    margin: 0 auto;
}

.month {
    background-color: #c0c3dd;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 10px;
    min-height: 250px;
}

.month-name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.days {
    display: grid;
    margin: 1fr;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    font-size: 12px;
}

.day {
    background-color: #d4d7f1;
    height: 25px;
    border: 1px solid #a1a1a1;
    text-align: center;
    max-width: 1fr
}

.day.empty {
    background-color: #a3a5bb;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
}

.day.weekday {
    border: 1px solid #a1a1a1;
}

button {
    min-height: 20px;
    max-width: 25px;
    border: none;
    cursor: pointer;
}

button.left {
    background-image: url("caret-left.svg");
    background-size: contain;
    background-color: rgb(108, 124, 204);

}

button.right {
    background-color: #7385DC;
    background-image: url("caret-left.svg");
    transform: rotate(180deg);
    background-size: contain;
}

button.close {
    background-image: url("../assets/caret-left.svg");
    background-size: contain;
    background-color: #c0c3dd;
    margin-left: 1rem;
}

button.edit {
    height: 20px;
    width: 20px;
    background-color: #d4d7f1;
    background-image: url(../assets/pen.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    position: relative;
    left: 88%;
    top: 50%;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px 20px;
  background-color: rgba(221, 218, 218, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px #0003;
  z-index: 9999;
  min-width: 300px;
}
.toast ul {
  margin: 8px 0 0;
  padding-left: 10px;
  
}
.toast button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}