@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    font-family: "Comfortaa", "Open Sans", sans-serif;

}

.head {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 500;
}

.head button, .head span {
    margin: 0 5px;
}

body {
    background: linear-gradient(160deg, rgb(108, 124, 204) 10%, rgb(119, 138, 230) 50%, rgb(237, 128, 150) 100%);
    background-attachment: fixed;
    background-size: cover;
}

.calendar-wrapper {
    position: relative;
    height: 98vh;
}

.month-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #bfcfff;
    z-index: 10;
    padding: 20px 0 20px 20px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 96%;
    margin: 0 auto;
}

.month {
    background-color: #c0c3dd;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 10px;
    min-height: 250px;
}

.month-name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.days {
    display: grid;
    margin: 1fr;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    font-size: 12px;
}

.day {
    background-color: #d4d7f1;
    height: 22px;
    border: 1px solid #a1a1a1;
    text-align: center;
    max-width: 1fr;
    padding-top: 5px;
}

.day.empty {
    background-color: #a3a5bb;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
}

.day.weekday {
    border: 1px solid #a1a1a1;
}

button {
    min-height: 20px;
    border: none;
    cursor: pointer;
}

button.left {
    background-image: url("caret-left.svg");
    background-size: contain;
    background-color: rgb(108, 124, 204);

}

button.right {
    background-color: rgb(108, 124, 204);
    background-image: url("caret-left.svg");
    transform: rotate(180deg);
    background-size: contain;
}

button.close {
    background-image: url("../assets/caret-left.svg");
    background-size: contain;
    background-color: #c0c3dd;
    margin-left: 1rem;
}

button.material-symbols-outlined, img{
    background: none;
}

button.edit {
    height: 24px;
    width: 24px;
    background-color: #d4d7f1;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    position: relative;
    left: 82%;
    top: 50%;
}

img {
    max-height: 1rem;
}